.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;

}

h1 {
    text-align: center;
    background-color: white;
    opacity: .75;
    width: 960px;
}

@media  screen and (max-width: 900px) {
    h1 {
        display: none;
    }